{% extends 'main.html' %}
{% load static %}

{% block content %}
<link rel='stylesheet' type='text/css' media='screen' href='{% static "css/event.css" %}'>
<style>
    .container--main {
    width: 100%; /* Use 100% width for responsiveness */
    max-width: 1200px; /* Max width stays at 1200px */
    margin-top: 1em;
    padding: 1em 1em 1em 1em;
    border-radius: 4px;
    background-image: url('{% static 'images/backgrounds/'|add:event.name|add:'1.jpg' %}');
    background-size: cover; /* Ensure the background covers the container */
    background-position: center; /* Center the background image */
    }
</style>
<div class="container--main--w" style="background-color: white; width: 100%;">
    <h2>{{event.name}} </h2>
    {% if event.event_status == 'Ongoing' %}
    <div class="section-event" id="event--action--wrapper">
        {% if registered %} 
        <a class="btn btn--primary" style="background-color: green;">Registered</a>
        {% else %}
            <a class="btn btn--primary"  href="{% url 'registration-confirmation' event.id %}">Register</a>
        {% endif %}
        {% if submitted %} 
        <a class="btn btn--primary" style="background-color: green;">Submitted</a>
        {% else %}
            <a class="btn btn--secondary" href="{% url 'project-submission' event.id %}">Submit Project</a>
        {% endif %}
    
    </div>
    {% else %}
        <p class="error">Registration closed for this event.</p>
    {% endif %}
</div>
<div class="container--main">
    <div class="section-event-desc">
        <p class="white-text-transparent-bg" >{{event.description | safe }}</p>
    </div>
    <div class="comment-wrapper">
        <h5>Comments:</h5>

        {% if request.user.is_authenticated %}
            <div class="comment-form">
                <form class="comment-form" method="POST" action="">
                    {% csrf_token %}
                    <input type="'text" name="body" placeholder="Write a message here ..." required/>
                    <button type="submit">Post Comment</button>
                </form>
            </div>
            <hr>
        {% else %}
            <div class="comment-form">
                <p><a href="{% url 'login' %}">Login</a> to Post comments</p>
            </div>
            <hr>
        {% endif %}
            <div class="comments-section">
                {% for message in comments  %}

                    <div class="comment">
                        <form method="POST" action="{% url 'delete-message' %}">
                        {% if request.user == message.user %}
                            {% csrf_token %}
                            <input type="hidden" name="Id" value="{{ message.id }}">
                            <button class="delete-comment" type='submit' class="delete-comment">Delete</button>
                        {% endif %}
                        </form>
                        <div class="comment-header">
                            <small><a href="{% url 'profile' user.id%}">@{{message.user.name}}</a>  <p class="comment-date">{{message.created|timesince}} ago</p></small>
                        </div>
                        <div class="comment-body">
                            <p>{{message.body}}</p>
                        </div>
                        <hr>
                    </div>

                {% endfor %}
            </div>
        </div>
                <div class="container--main--w" ><h5>Participants</h5>
                            {% for user in event.participants.all %}
                                <a href="{% url 'profile' user.id%}">
                                        <p>✅{{user.name}}</p>
                                </a>
                            {% endfor %}
                </div>
    </div>
</div>
{% endblock content %}