{% load static %}

<link rel='stylesheet' type='text/css' media='screen' href='{% static "css/footer.css" %}'>

<section class="about-us">
    <div class="container">
        <img type="image/svg+xml" src="{% static 'images/innixo_logo.svg' %}" alt="Our Team" class="team-photo">
        <div class="about-text">
            <h2>About Us</h2>
            <p>Welcome to [Your Company Name], where we specialize in providing the best [Your Service/Product]. With years of experience in the industry, our team is dedicated to delivering outstanding results and ensuring customer satisfaction. Join us on our journey to excellence and discover the difference we make every day.</p>
        </div>
    </div>
</section>