{% load static %}

<link rel='stylesheet' type='text/css' media='screen' href='{% static "css/footer.css" %}'>

<section class="about-us">
    <div class="container">
        <img src="{% static 'images/innixo_logo.png' %}" alt="Our Team" class="team-photo">
        <div class="about-text">
            <h2>About Us</h2>
            <p>Welcome to <a href="https://www.dypsst.dpu.edu.in/">DYPSST</a>, where we specialize in fostering a vibrant and inclusive campus community.
                Our team is dedicated to advocating for student needs, facilitating engaging events, and ensuring a supportive educational environment. Join us on our journey to excellence and discover the difference we make in the lives of students every day.</p>
        </div>
    </div>
</section>