{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="container--main">
<link rel='stylesheet' type='text/css' media='screen' href='{% static "css/home.css" %}'>
    <div class="section">
        {% include 'ticker-text.html' %}
    </div>
    <div class="section" id="home__hero">
        <div class="section" id="hero__content">
            <h2 id="intro--headline" class="radial-text-gradient">Welcome to INNIXO 2024 </h2>

            <p id="intro--subheadline"> The premier destination for college students passionate about technology, innovation, and design.
                 INNIXO is not just an event it's a celebration of creativity, coding, and collaboration.
                 Whether you're a coder, designer, innovator, or tech enthusiast, INNIXO offers a plethora of opportunities to showcase
                  your skills, learn from peers, and connect.</p>
        </div>
    


        <div>
            <div>
                <h1 class="animate-charcter">Events</h1>
            </div>
            
            <div class="events--lists section">
                {% for event in events %}
            
                    <a href="{% url 'event' event.id %}">
                        <div class="event__wrapper">
                            <h5 class="event__preview--title">{{event.name}}</h5>

                            <div class="event__preview__details">
                                <div class="dot__wrapper">
                                    {% if event.event_status == 'Ongoing' %}
                                        <div class="dot dot--green"></div>
                                    {% else %}
                                        <div class="dot dot--red"></div>
                                    {% endif %}

                                    <p>{{event.event_status}}</p>
                                </div>
                                <p>{{event.participants.all.count}} Participants</p>
                            </div>

                            <div>
                                <p>{{event.preview|linebreaks}}</p>
                            </div>
                            <div class="event__preview__details__bottom">
                                <div>
                                    <p>Start Date:</p>
                                    <p class="event--date">{{event.start_date|date:"d.m.Y"}}</p>
                                </div>

                                <div>
                                    <p>End Date:</p>
                                    <p class="event--date">{{event.end_date|date:"d.m.Y"}}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
            <h4>Total Users 🟣🟣🔵💜-> {{count}}</h4>

        </div>
    </div>
</div>
{% endblock %}