@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');
/* @import 'prismjs/themes/prism-okaidia'; */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Readex Pro';
    background-color: rgb(249, 250,251);
    line-height: 1.5em;
    color: #000;
    font-size: 14px;
 }

 h1,h2,h3,h4,h5,h6{
     font-weight: 500;
    
 }

 h1{
    font-size: 48px;
 }

 h2{
    font-size: 40px;
 }

 h3{
     font-size: 36px;
 }

 h4{
    font-size: 32px;
}

h5{
    font-size: 28px;
}

h6{
    font-size: 24px;
}

 p{
     color: #637287;
 }

 a{
     text-decoration: none;
 }

.text--success{
    color: #198754;
    font-weight: bolder;
    font-family:'Courier New', Courier, monospace;
    font-size: large;
}
 .section{
     margin: 2em 0; 
 }

.btn{
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    /* background-color: rgb(204, 204, 204); */
    color: black;
    display: block;
    width: fit-content;
    margin: 10px;
    background-color: none;
    border: none;
}

.btn:hover{
    transform: translateY(-5px);
    box-shadow: 5px 5px 15px rgba(0.4, 0.4, 0.4, 0.4);
}

.btn--primary{
    background-color:#000;
    color: #fff;
}

.btn--secondary{
    background-color:#fff;
    color: #000;
    border: 1px solid #DEE4ED;
}

.btn--warning{
    background-color: #ffe900;
}


.error{
    color: #E55D42;
}

.success{
    color: #31a62b;
}

.info{
    color: #3aabd4;
}

.container--main{
    width: 1200px;
    margin: 0 auto;
    margin-top: 1em;
    padding:0 1em ;
    border-radius: 4px;
}





/* NAVBAR STYLING */


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5em 2em;
}

 nav a{
     text-decoration: none;
     color: black;
     margin: 0 10px;
 }


 #logo--text{
     font-size: 26px;
     font-weight: 500;
 }

 #nav--col3{
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 /* HOME PAGE */

#intro--headline{
    font-weight: 600;
    font-size: 48px;
    text-align: center;
}

#home__hero{
    padding-top: 2em;
    padding-bottom: 2em;
}

#hero__content{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

#intro--subheadline{
    padding: 2em 6em;

}

.events--lists{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}

 .event__wrapper{
    border: 2px solid #DEE4ED;
    padding: 2em;
    border-radius: 5px;
    
 }

 .event__wrapper:hover {
    transform: translateY(-5px);
    box-shadow: 5px 5px 15px rgba(0.4, 0.4, 0.4, 0.4);

  }

 .event__preview--title{
    font-size: 22px;
    text-decoration: none;
    color: #000;
 }

 .event--date{
     color: #000;
 }

 .dot__wrapper{
     display: flex;
     align-items: center;
 }

 .dot__wrapper *{
     margin-right: .5em;
 }

 .dot{
     background-color: grey;
     height: 15px;
     width: 15px;
     border-radius: 50%;
 }

 .dot--green{
    background-color: #06D6A0;
 }

 .dot--red{
    background-color: #F04438;
 }

 .event__preview__details * {
     margin-right: 1em;
 }

 .event__preview__details{
     display: flex;
     justify-content: flex-start;
     padding: 1.5em 0;
 }

 .event__preview__details__bottom{
     display: flex;
     padding: 1.5em 0;
 }

 .event__preview__details__bottom *{
     margin-right: 1em;
 }


 .wrapper--user{
     display: flex;
     flex-direction: column;
     align-items: center;
    padding: 1em;
    border-radius: 5px;
    text-align: center;
    max-width: 100px;
 }
 
 .wrapper--user *{
     margin-top: 1em;
 }

 .avatar__border{
     border:1px solid #DEE4ED;
     width: fit-content;
     border-radius: 15px;
     margin: 0;
     padding: 2px;
     line-height: 0;
 }

 .user--avatar--sm{
     height: 50px;
     width: 50px;
     object-fit: cover;
     border-radius: 15px;
     margin: 0;
     padding: 0;
     line-height: 0;
 }

 .user--avatar--lg{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 15px;
    margin: 0;
    padding: 0;
    line-height: 0;
}


 .users--lists{
     display: flex;
     flex-wrap: wrap;
 }


 .paginator--wrapper{
     display: flex;
     flex-wrap: wrap;
 }


 #account--buttons{
     display: flex;
     flex-wrap: wrap;
 }


 /* EVENT PAGE STYLING */

 #event--action--wrapper{
    display: flex;
    flex-wrap: wrap;
 }

 


  /* LOGIN/REGISTRATION/EDIT STYLING */

 

  
  .form-field--title{
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
  }

  .login-register--container p.login-greattings{
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color:black;
  }

  .login-register--container p.login-register-switchpagetext{
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    color:black;
  }
  
    .login-register--container p.login-register-switchpagetext a{
        color:black;
        font-weight: 500;
        font-size: 20px;
    }
 
  .form-field--wrapper{
      margin-top: 1em;
      margin-bottom: 1em;
  }

  input{
      width: 100%;
  }

  .form-field--wrapper label{
    line-height: 30px;
    font-weight: 400; 
  }
  
  input.form-field--input, input#id_password1, input#id_password2{
    width: 100%;
    height: 55px;
    border:1px solid #000000;
    padding: 20px;
  }
  
  textarea.form-field--input-txarea{
    width: 100%;
    border:1px solid #000000;
    padding: 20px;
  }

 .login-email , .login-password{
    width: 100%;
    height: 55px;
    border:1px solid #000000;
 }

  #id_avatar{
    width: 100%;
    outline: none;
    font-size: 17px;
    border:1px solid #000000;
    display: inline-block;
    color:#BDBDBD;
  }

  ::-webkit-file-upload-button{
    color:black;
    background-color: #EBEBEB;
    padding:20px;
    border:none;
    outline: none;
  }
  input::file-selector-button {
    color:black;
    background-color: #EBEBEB;
    padding:20px;
    border:none;
    outline: none;
}
 

  .formsubmit-btn{
    background-color: #000000;
    color:white;
    border:none;
    width: 100%;
    margin-left: 0px;
    height: 60px;
    margin-bottom: 33px;
  }

  .formsubmit-btn:hover{
    transform: translateY(-2px);
    box-shadow: 5px 5px 15px rgba(0.4, 0.4, 0.4, 0.4);
  }


 @media (max-width:1200px) {
     .container--main{
         width: 100%;
     }
     .container--main--w{
        width: 100%;
     }
 }

 @media (max-width:800px) {

    #logo--wrapper{
        flex-grow: 1;
        text-align: left;;
    }
    
    .animate-character {
        font-size: 90px; /* Adjusted for smaller screens */
        /* Additional responsive adjustments if needed */
    }

    .users--lists{
   
        grid-template-columns: 1fr 1fr 1fr;
    
    }
}

@media (max-width:600px) {

    #intro--headline{
        font-size: 28px;
    }

    #intro--subheadline{
        padding: 2em 1em;
    
    }

    .events--lists{
        grid-template-columns: 1fr;

    }

    .users--lists{
   
        grid-template-columns: 1fr 1fr;
    
    }
}
    /* Gradient Color */

    body {
        background: linear-gradient(-45deg, #ee7752, #a33ce7, #303fc4, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        height: 100%;
        overflow-x: hidden; 
    }
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    
    
        /* Alert messages */
    .alert {
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px;
    }
    
    .alert-success { background-color: #dff0d8; color: #3c763d; border-color: #d6e9c6; }
    .alert-info    { background-color: #d9edf7; color: #31708f; border-color: #bce8f1; }
    .alert-warning { background-color: #fcf8e3; color: #8a6d3b; border-color: #faebcc; }
    .alert-error   { background-color: #f2dede; color: #a94442; border-color: #ebccd1; }

    /* Text gradient color */
.radial-text-gradient {
    background: radial-gradient(circle, rgb(1, 9, 128), rgb(22, 139, 248));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}


/*loading screen */
.loader-box {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    background: #0d6efd;
  }#loader {
    animation: animate 1.5s linear infinite;
    clip: rect(0, 80px, 80px, 40px);
    height: 80px;
    width: 80px;
    position: absolute;
    left: calc(50% - 40px);
    top: calc(50% - 40px);
  }@keyframes animate {
    0% {
      transform: rotate(0deg);
    }100% {
    transform: rotate(220deg);
    }
  }#loader:after {
    animation: animate2 1.5s ease-in-out infinite;
    clip: rect(0, 80px, 80px, 40px);
    content: "";
    border-radius: 50%;
    height: 80px;
    width: 80px;
    position: absolute;
  }@keyframes animate2 {
    0% {
      box-shadow: inset #fff 0 0 0 17px;
      transform: rotate(-140deg);
    }  50% {
      box-shadow: inset #fff 0 0 0 2px;
    }  100% {
      box-shadow: inset #fff 0 0 0 17px;
      transform: rotate(140deg);
    }
  }


